<% lifehacks.each do |lifehack| %>
  <div class="list-group">
    <div class="list-group-item list-group-item-action lifehack_list" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">
          <%= image_tag 'miniature light bulb.png', size: "50x50" %>
          <%= link_to lifehack.title, admin_lifehack_path(lifehack), class: "text-reset" %><!--タイトル-->
        </h4>
        <small>
            投稿日<%= lifehack.created_at.strftime('%Y/%m/%d') %><!--投稿日-->
            （更新日<%= lifehack.updated_at.strftime('%Y/%m/%d') %>）<!--更新日-->
        </small>
      </div>
        <p class="mb-1">
          <%= link_to lifehack.body, admin_lifehack_path(lifehack), class: "text-reset" %><!--本文-->
        </p>
        <div class="d-flex w-100 justify-content-between">
        <p class="mb-1 mt-5">
          タグ検索ワード<br>
          <%= link_to lifehack.tag, tagsearches_search_path(tagcontent: lifehack.tag) %><!--タグ-->
        </p>
          <div class="d-flex justify-content-end">
            <div class="mx-3 mt-4">
              <div class="icon-container">
                <i class="fas fa-heart" aria-hidden="true"></i>
                <%= lifehack.favorites.count %><!--いいね-->
              </div>
          </div>
          <div class="mx-3 mt-4">
            <%= render "public/lifehacks/static.rate", lifehack: lifehack %><!--おすすめ度-->
          </div>
          <div class="mx-3 mt-4">
            <%= render "public/lifehack_comments/counter", lifehack: lifehack %><!--コメント数-->
          </div>
        </div>
      </div>
      <small>
        （投稿者）
          <%= link_to admin_user_path(lifehack.user) do %>
            <%= image_tag lifehack.user.get_profile_image(50, 50) %><!--投稿者詳細-->
            <%= lifehack.user.account_name %>
          <% end %>
      </small>
    </div>
  </div>
<% end %>