<div class="container py-1">
  <h3 class="mt-3">
    <i class="fa-regular fa-file"></i>
    投稿詳細
  </h3>
  <div class="card">
    <div class="lifehack_images justify-content-center mt-5">
      <% if @lifehack.lifehack_images.attached? %><!--画像追加がされたとき-->
        <% @lifehack.lifehack_images.each do |image| %>
          <%= image_tag image.variant(resize: "330x330") %>
        <% end %>
      <% else %><!--画像追加がされなかったとき-->
        <%= image_tag 'no_lifehack_image.jpg' %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title col-7">
          <%= image_tag 'miniature light bulb.png', size: "50x50" %>
          <%= @lifehack.title %>
        </h4>
        <p class="col-5 text-center">
          <small>
            投稿日<%= @lifehack.created_at.strftime('%Y/%m/%d') %><!--投稿日-->
            （更新日<%= @lifehack.updated_at.strftime('%Y/%m/%d') %>）<!--更新日-->
          </small>
        </p>
      </div>
      <div class="col-12">
        <p class="card-text">
          <%= simple_format(@lifehack.body) %>
        </p>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            おすすめ度
          </h4>
          <div class="col-9 text-center">
            <%= render "public/lifehacks/static.rate", lifehack: @lifehack %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            タグ
          </h4>
          <div class="col-9 text-center">
            <%= link_to @lifehack.tag, tagsearches_search_path(tagcontent: @lifehack.tag) %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            投稿者
          </h4>
          <div class="col-9 text-center">
            <%= link_to admin_user_path(@lifehack.user) do %>
              <%= image_tag @lifehack.user.get_profile_image(50, 50) %><!--投稿者詳細-->
              <%= @lifehack.user.account_name %>
            <% end %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            いいね数
          </h4>
          <div class="col-9 text-center">
            <i class="fas fa-heart" aria-hidden="true"></i>
            <%= @lifehack.favorites.count %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            コメント件数
          </h4>
            <div class="lifehack-comments-counter col-9 text-center"><!--create.js.erbとdestroy.js.erbでクラスの指定とアクションを記述してるので変更不可!-->
              <%= render "public/lifehack_comments/counter", lifehack: @lifehack %><!--コメント数-->
            </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex">
          <h4 class="card-title col-3 text-center">
            コメント一覧
          </h4>
            <div class="lifehack-comments-index col-9 text-center"><!--create.js.erbとdestroy.js.erbでクラスの指定とアクションを記述してるので変更不可!-->
            <%= render "public/lifehack_comments/index", lifehack_comments: @lifehack_comments %><!--コメント一覧、削除-->
          </div>
        </div>
      </li>
    </ul>
  <div class="row">
    <div class="col-12 text-center mt-5">
      <%= link_to '管理者権限により投稿を削除する', admin_lifehack_path(@lifehack), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger destroy_lifehack_#{@lifehack.id} mb-4"  %>
    </div>
  </div>
</div>