<div class="container py-1">
  <div class="row">
    <div class="col-12 text-start">
      <% if @model == 'user' %>
        <h3 class="mt-3">
          <i class="fa-solid fa-users"></i>
          ユーザー キーワード検索結果 "<%= @content %>"
        </h3>
        <div class="row">
          <div class="col-12 text-start">
            <% if admin_signed_in? %>
              <%= render 'admin/users/index', users: @records %>
            <% else %>
              <%= render 'public/users/index', users: @records %>
            <% end %>
          </div>
        </div>
      <% elsif @model == 'lifehack' %>
        <h3 class="mt-3">
          <i class="fa-solid fa-list"></i>
          ライフハック キーワード検索結果 "<%= @content %>"
        </h3>
        <div class="row">
          <div class="col-12 text-start">
            <% if admin_signed_in? %>
              <%= render 'admin/lifehacks/index', lifehacks: @records %>
            <% else %>
              <%= render 'public/lifehacks/index', lifehacks: @records %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "layouts/page", obj: @records %>
</div>
