<!--キーワード検索機能-->
<% if @model == 'user' %>
	<h3>ユーザー キーワード検索一覧"<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% else @model == 'lifehack' %>
	<h3>ライフハック キーワード検索一覧 "<%= @content %>"</h3>
  <%= render 'public/lifehacks/index', lifehacks: @records %>
<% end %>
<div class="row justify-content-center">
  <%= paginate @lifehacks %>
</div>