<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div id="key_visual">
        <div class="main-visual-content"><!--白背景-->
        <p class="main-visual-text"><!--文字-->
          ライフハックの投稿、共有して、<br />
          日常をより楽しく、<br />
          豊かにしていきましょう。
        </p>
      </div>
        <div class="slider">
          <div><%= image_tag 'lemon.jpg', class: "image-size" %></div>
          <div><%= image_tag 'kitchen.jpg', class: "image-size" %></div>
          <div><%= image_tag 'bathroom.jpg', class: "image-size" %></div>
          <div><%= image_tag 'kitchen2.jpg', class: "image-size" %></div>
          <div><%= image_tag 'sponge.jpg', class: "image-size" %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="mt-3">
        <i class="fa-solid fa-list"></i>
        新着投稿
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-start">
      <%= render 'public/lifehacks/index', lifehacks: @lifehacks %>
    </div>
  </div>
  <div class="row">
    <div class="col-3 offset-9 mb-4">
      <div class="d-flex justify-content-end">
        <i class="fa-solid fa-list mt-1"></i>
        <%= link_to '全ての投稿を見る>', lifehacks_path, class: "text-reset" %>
      </div>
    </div>
  </div>
</div>