<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 mt-4">
      <div id="key_visual">
        <div class="main-visual-content">
          <p class="main-visual-text">
            ライフハックの投稿、共有して、<br>
            日常をより楽しく、<br>
            豊かにしていきましょう。
          </p>
        </div>
        <div class="slider">
          <div><%= image_tag asset_path("lemon.jpg"), class: "image-size" %></div>
          <div><%= image_tag asset_path("kitchen.jpg"), class: "image-size" %></div>
          <div><%= image_tag asset_path("bathroom.jpg"), class: "image-size" %></div>
          <div><%= image_tag asset_path("kitchen2.jpg"), class: "image-size" %></div>
          <div><%= image_tag asset_path("sponge.jpg"), class: "image-size" %></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4 class="mt-3">
        <i class="fa-solid fa-list"></i>
        新着投稿
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'public/lifehacks/index', lifehacks: @lifehacks %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 mb-4 text-center">
      <strong class="lifehack_listall">
        <%= link_to '<全ての投稿を見る>', lifehacks_path, class: "text-reset" %>
      </strong>
    </div>
  </div>
</div>