投稿一覧
<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>おすすめ度</th>
      <th>タグ</th>
      <th>いいね</th>
      <th>コメント数</th>
      <th>投稿ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @lifehacks.each do |lifehack| %>
    <tr>
      <td><%= lifehack.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to lifehack.title, admin_lifehack_path(lifehack), class: " text-reset" %></td>
      <td><%= render "public/lifehacks/static.rate", lifehack: lifehack %></td>
      <td>未定タグ</td>
      <td>
          <i class="fas fa-heart" aria-hidden="true"></i>
          <%= lifehack.favorites.count %>
      </td>
      <td>コメント数: <%= lifehack.lifehack_comments.count %></td>
      <td>
        <%= link_to admin_user_path(lifehack.user) do %>
        <%= image_tag lifehack.user.get_profile_image(50, 50) %>
        <%= lifehack.user.account_name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="row justify-content-center">
  <%= paginate @lifehacks %>
</div>