<div style="max-height: 300px; overflow-y: auto;">
  <table class="table table-hover" style="width: 100%;">
    <colgroup>
      <col style="width: 100px;"> <!-- 列1の幅を100pxに設定 -->
      <col style="width: 200px;"> <!-- 列2の幅を200pxに設定 -->
      <col style="width: 150px;"> <!-- 列3の幅を150pxに設定 -->
    </colgroup>
    <tbody>
      <% lifehack_comments.each do |lifehack_comment| %>
        <tr>
          <% if admin_signed_in? %>
            <td>
              <%= link_to admin_user_path(lifehack_comment.user) do %><!--管理者ユーザー詳細ページ-->
                <%= image_tag lifehack_comment.user.get_profile_image(50, 50) %><br>
                <%= lifehack_comment.user.account_name %>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= link_to user_path(lifehack_comment.user) do %><!--ユーザー詳細ページ-->
                <%= image_tag lifehack_comment.user.get_profile_image(50, 50) %><br>
                <%= lifehack_comment.user.account_name %>
              <% end %>
            </td>
          <% end %>
          <td><%= lifehack_comment.comment %></td>
          <td>
            <%= lifehack_comment.created_at.strftime('%Y/%m/%d %H:%M') %><br>
            <% if admin_signed_in? %>
              <%= link_to "管理者権限によりコメントを削除する", lifehack_lifehack_comment_path(lifehack_comment.lifehack, lifehack_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger pull-right", remote: true %>
            <% elsif lifehack_comment.user == current_user %>
              <%= link_to "コメントを削除する", lifehack_lifehack_comment_path(lifehack_comment.lifehack, lifehack_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger pull-right", remote: true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>