<div class="mt-3">
  <% if lifehack.id.nil? %>
    <%= link_to "下書き一覧", index_draft_lifehacks_path, class: "btn btn-dark px-4" %>
  <% end %>
</div>

<%= form_with model: lifehack do |f| %>
  <h4 class="mt-1">タイトル</h4>
  <%= f.text_field :title, autofocus: true, placeholder: "タイトル（2文字以上、20文字以内）を入力してください。", class: 'form-control' %>
  <h4 class="mt-5">本文</h4>
  <%= f.text_area :body, rows: '5', placeholder: "本文（10文字以上、200文字以内）を入力してください。", class: 'form-control' %>
  <h4 class="mt-5">画像解説</h4>
  <h6>最大3枚まで投稿可能</h6>
  <p id="error-message" style="color: red; display: none;">画像は最大3枚まで投稿できます。</p>
  <%= f.file_field :lifehack_images, multiple: true, accept: "image/*", id: "image-upload" %>

  <% if action_name == "new" %><!-- newページ用のコード -->
    <h6 class="mt-4">画像を投稿されない場合下記の画像が表示されます。</h6>
    <%= image_tag 'no_lifehack_image.jpg' %>
  <% else action_name == "edit" %><!-- editページ用のコード -->
    <h6 class="mt-4">現在この投稿には下記の画像が表示されています。</h6>
    <% if @lifehack.lifehack_images.attached? %>
      <% @lifehack.lifehack_images.each do |image| %>
        <%= image_tag image.variant(resize: "300x300") %>
      <% end %>
    <% else %>
      <%= image_tag 'no_lifehack_image.jpg' %>
    <% end %>
  <% end %>

  <!-- 画像枚数制限をかけるJavaScriptコード-->
  <script>
    document.getElementById('image-upload').addEventListener('change', function(e) {
      const files = e.target.files;
      if (files.length > 3) { // 画像の枚数が三枚より多いとき
        document.getElementById('error-message').style.display = 'block';
        e.preventDefault(); // 画像の選択をキャンセル
      } else {
        document.getElementById('error-message').style.display = 'none';
      }
    });
  </script>

  <!-- おすすめ度(star)についての記述 -->
  <% if lifehack.id.nil? %>
    <div class="form-group" id="star">
      <h4 class="mt-5">おすすめ度</h4>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).ready(function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = "";
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'lifehack[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <h4 class="mt-5">おすすめ度</h4>
      <h6 style="color: #FF0000;"><strong>変更不可</strong></h6>
      <%= render "static.rate", lifehack: lifehack %>
    </div>
  <% end %>

  <!-- tagについての記述 -->
  <div class="form-group">
    <h4 class="mt-5">タグ設定</h4>
    <%= f.text_field :tag, placeholder: "タグ検索で入力するタグ（2文字以上、20文字以内）を設定してください。", class: 'form-control' %>
  </div>
  <div class="row">
    <% if lifehack.id.nil? %>
      <div class="col-2">
        <%= f.submit '新規投稿', :name => 'post', class: "btn btn-dark px-4 mb-4" %>
      </div>
      <div class="col-10">
        <%= f.submit '下書きに保存', :name => 'draft', class: "btn btn-dark px-4 mb-4" %>
      </div>
    <% else %>
      <% if lifehack.is_draft == true %>
        <div class="col-3">
          <%= f.submit "ライフハックを公開", :name => 'publicize_draft', class: 'btn btn-warning' %>
        </div>
        <div class="col-9">
          <%= f.submit "下書きを更新", :name => 'update_draft', class: 'btn btn-outline-secondary' %>
        </div>
      <% else %>
        <div class="col-2">
          <%= f.submit '変更を保存', :name => 'update_post', class: "btn btn-dark px-4 mb-4" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
