<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>おすすめ度</th>
      <th>タグ</th>
      <th>いいね数</th>
      <th>コメント数</th>
      <th>投稿ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% lifehacks.each do |lifehack| %>
    <tr>
      <td><%= lifehack.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to lifehack.title,lifehack, class: "lifehack_#{lifehack.id} text-reset" %></td>
      <td><%= render "public/lifehacks/static.rate", lifehack: lifehack %></td>
      <td><%=link_to lifehack.tag,tagsearches_search_path(content: lifehack.tag)%></td><!--タグ機能-->
      <td class=<%= "favorite-" + lifehack.id.to_s %> ><!--いいね機能-->
          <%= render "public/favorites/btn", lifehack: lifehack %>
      </td>
      <td><%= render "public/lifehack_comments/counter", lifehack: lifehack %></td><!--コメント機能-->
      <td>
        <%= link_to user_path(lifehack.user) do %>
        <%= image_tag lifehack.user.get_profile_image(50, 50) %>
        <%= lifehack.user.account_name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>