<% lifehacks.each do |lifehack| %>
  <div class="list-group">
    <div class="list-group-item list-group-item-action lifehack_list" aria-current="true" >
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1">
          <%= image_tag 'miniature light bulb.png', size: "50x50" %>
          <%= link_to lifehack.title, lifehack, class: "text-reset lifehack-title" %><!--タイトル-->
        </h4>
        <small>
            投稿日<%= lifehack.created_at.strftime('%Y/%m/%d') %><!--投稿日-->
            （更新日<%= lifehack.updated_at.strftime('%Y/%m/%d') %>）<!--更新日-->
        </small>
      </div>
        <p class="mb-1">
          <%= link_to lifehack.body.truncate(60), lifehack, class: "text-reset " %><!--本文-->
        </p>
        <div class="d-flex w-100 justify-content-between">
        <p class="mx-3 mt-4">
          タグ<i class="fa-solid fa-tags"></i>[
            <%= link_to lifehack.tag, tagsearches_search_path(tagcontent: lifehack.tag)%><!--タグ-->
          ]
        </p>
          <div class="d-flex justify-content-end">
            <div class="mx-3 mt-4">
              <% if user_signed_in? %>
                <p class=<%= "favorite-" + lifehack.id.to_s %> ><!--いいねボタン非同期通信-->
                  <%= render "public/favorites/btn", lifehack: lifehack %><!--いいね-->
                </p>
              <% elsif admin_signed_in? %>
                <p>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= lifehack.favorites.count %>
                </p>
              <% else %>
                <p>
                  <%= link_to new_user_session_path do %>
                    <i class="fas fa-heart" aria-hidden="true"></i>
                    <%= lifehack.favorites.count %>
                  <% end %>
                </p>
              <% end %>
          </div>
          <div class="mx-3 mt-4">
            <%= render "public/lifehacks/static.rate", lifehack: lifehack %><!--おすすめ度-->
          </div>
          <div class="mx-3 mt-4">
            <%= render "public/lifehack_comments/counter", lifehack: lifehack %><!--コメント-->
          </div>
        </div>
      </div>
      <small>
        （投稿者）
        <%= link_to user_path(lifehack.user) do %>
            <%= image_tag lifehack.user.get_profile_image(50, 50) %><!--投稿者詳細-->
            <%= lifehack.user.account_name %>
          <% end %>
      </small>
    </div>
  </div>
<% end %>