<div class="container py-1">
  <h3 class="mt-3">
    <% if @lifehack.is_draft %>
      <i class="fa-solid fa-pencil"></i>
      下書き投稿詳細
    <% else %>
      <i class="fa-regular fa-file"></i>
      投稿詳細
    <% end %>
  </h3>
  <div class="card">
    <div class="lifehack_images justify-content-center mt-2">
      <% if @lifehack.lifehack_images.attached? %><!--画像追加がされたとき-->
        <% @lifehack.lifehack_images.each do |image| %>
          <a href="<%= rails_blob_path(image, only_path: true) %>" data-lightbox="group" data-title="投稿画像"><!--lightbox2(投稿画像拡大表示)-->
            <%= image_tag image.variant(resize: "300x300") %>
          </a>
      <% end %>
      <% else %><!--画像追加がされなかったとき-->
        <%= image_tag 'no_lifehack_image.jpg' %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title col-7">
          <%= image_tag 'miniature light bulb.png', size: "50x50" %>
          <span class="lifehack-title"><%= @lifehack.title %></span>
        </h4>
        <p class="col-5 text-center">
          <small>
            投稿日<%= @lifehack.created_at.strftime('%Y/%m/%d') %><!--投稿日-->
            （更新日<%= @lifehack.updated_at.strftime('%Y/%m/%d') %>）<!--更新日-->
          </small>
        </p>
      </div>
      <div class="col-12">
        <p class="card-text">
          <%= simple_format(@lifehack.body) %>
        </p>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            おすすめ度
          </h4>
          <div class="col-9 text-center">
            <%= render "static.rate", lifehack: @lifehack %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            タグ
          </h4>
          <div class="col-9 text-center">
            <%= link_to @lifehack.tag, tagsearches_search_path(tagcontent: @lifehack.tag) %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            投稿者
          </h4>
          <div class="col-9 text-center">
            <%= link_to user_path(@lifehack.user) do %>
              <%= image_tag @lifehack.user.get_profile_image(50, 50) %><!--投稿者詳細-->
              <%= @lifehack.user.account_name %>
            <% end %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            いいね数
          </h4>
          <div class="col-9 text-center">
            <% if user_signed_in? %>
            <p class=<%= "favorite-" + @lifehack.id.to_s %> ><!--いいねボタン非同期通信-->
              <%= render "public/favorites/btn", lifehack: @lifehack %>
            </p>
            <% else %>
            <p>
              <%= link_to new_user_session_path do %>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <%= @lifehack.favorites.count %>
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h4 class="card-title col-3 text-center">
            コメント件数
          </h4>
            <div class="lifehack-comments-counter col-9 text-center"><!--create.js.erbとdestroy.js.erbでクラスの指定とアクションを記述してるので変更不可!-->
              <%= render "public/lifehack_comments/counter", lifehack: @lifehack %><!--コメント数-->
            </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex">
          <h4 class="card-title col-3 text-center">
            コメント一覧
          </h4>
            <div class="lifehack-comments-index col-9 text-center"><!--create.js.erbとdestroy.js.erbでクラスの指定とアクションを記述してるので変更不可!-->
              <%= render "public/lifehack_comments/index", lifehack_comments: @lifehack_comments %><!--コメント一覧、削除機能-->
            </div>
        </div>
      </li>
    </ul>
    <% unless @lifehack.is_draft %><!--下書き時は表示させない-->
    <div class="col-12">
      <% if user_signed_in? %>
        <div><!--create.js.erbでクラスの指定とアクションを記述してるので変更不可!-->
          <%= render "public/lifehack_comments/form", lifehack: @lifehack, lifehack_comment: @lifehack_comment %><!--コメント送信機能-->
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="row justify-content-center py-4">
      <% if @lifehack.user == current_user %>
        <div class="col-6 col-md-3 mb-2">
          <%= link_to '編集する', edit_lifehack_path(@lifehack), class: "btn btn-info btn-block edit_lifehack_#{@lifehack.id}" %>
        </div>
        <div class="col-6 col-md-3 mb-2">
          <%= link_to '削除する', @lifehack, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-block destroy_lifehack_#{@lifehack.id}"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

