
<div class="container py-5">
  <h3>投稿詳細</h3>
  <div class="row justify-content-center">
    <!--%= image_tag @lifehack.get_item_image(300,250) %-->
  <table class="table table-borderless text-center">
    <tr>
      <td>タイトル</td>
      <td><%= @lifehack.title %></td>
    <tr>
      <td>本文</td>
      <td><%= simple_format(@lifehack.body) %></td>
    </tr>
    <tr>
      <td>いいね数</td>
      <td><%= render "public/favorites/btn", lifehack: @lifehack %></td><!--いいねボタン-->
    </tr>
    <tr>
      <td>コメント数</td>
      <td><%= @lifehack.lifehack_comments.count %></td>
    </tr>
  </table>
    <%= render "public/lifehack_comments/index", lifehack: @lifehack %><!--コメント機能-->
    <br>
    <%= render "public/lifehack_comments/form", lifehack: @lifehack, lifehack_comment: @lifehack_comment %><!--コメント機能-->
  </div>
  <div class="row justify-content-center">
    <% if @lifehack.user == current_user %>
      <%= link_to '編集する', edit_lifehack_path(@lifehack), class: "btn btn-dark px-4" %>
      <%= link_to '削除する', @lifehack, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn  btn-danger destroy_book_#{@lifehack.id}" %>
    <% end %>
  </div>
</div>