<div class="container py-1">
  <div class="row">
    <div class="col-12 text-start">
      <% if @user == current_user %>
        <h3 class="mt-3 mb-5">
          <i class="fa-regular fa-user"></i>
            マイページ
        </h3>
      <% else %>
        <h3 class="mt-3 mb-5">
          <i class="fa-regular fa-user"></i>
            ユーザーページ
        </h3>
      <% end %>
      <div class="d-flex mb-3">
        <h4><b>登録情報</b></h4>
        <% if @user == current_user %>
          <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-success ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 my-3">
        <%= image_tag @user.get_profile_image(300, 300), class: "mb-3", width: 300, height: 300 %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">
            <%= @user.account_name %>
          </h4>
          <h5 class="mt-5">
            紹介文
          </h5>
          <p class="card-text">
            <% if @user.introduction.present? %>
              <%= @user.introduction %>
            <% else %>
              <% if @user==current_user %>
                紹介文を設定するとここに表示されます。
              <% else %>
                まだ紹介文は設定されていません。
              <% end %>
            <% end %>
          </p>
          <% if @user == current_user %>
          <h6 class="card-text d-flex w-100 mt-2">
            <p class="mr-3">
              メールアドレス
            </p>
            <%= @user.email %>
          </h6>
          <% end %>

          <h6 class="card-text d-flex w-100 mt-5">
            <p class="mr-3">
              会員ステータス
            </p>
            <% if @user.is_active == true %>
              <p class="text-secondary">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-center">
        <h4><b>投稿履歴</b></h4>
        <%= link_to "一覧を見る", index_user_user_path(@user), class: "btn btn-outline-primary ml-2 mr-4 mb-4" %>
        <h4><b>いいね一覧</b></h4>
        <%= link_to "一覧を見る", favorites_user_path(@user), class: "btn btn-outline-success ml-2 mb-4" %>
      </div>
    </div>
  </div>
</div>