<header class="header">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'icon.png', size: "150x100" %>
      <% end %>

      <div class="col-sm-3 text-center">
        <% if user_signed_in? %>
          <p>ようこそ、</p>
          <p><%= "#{current_user.account_name}さん！" %></p>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button1" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item d-flex">
              <i class="fa-regular fa-user mt-3"></i>
              <%= link_to "マイページ", user_path(current_user), class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-regular fa-pen-to-square mt-3"></i>
              <%= link_to "新規投稿", new_lifehack_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-list mt-3"></i>
              <%= link_to "投稿一覧", lifehacks_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-users mt-3"></i>
              <%= link_to "ユーザー一覧", users_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-right-from-bracket mt-3"></i>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", style: "color: #495057" %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-list mt-3"></i>
              <%= link_to "投稿一覧", admin_root_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-users mt-3"></i>
              <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-right-from-bracket mt-3"></i>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link", style: "color: #495057" %>
            </li>
          <% else %>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-house mt-3"></i>
              <%= link_to "About", about_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-list mt-3"></i>
              <%= link_to "投稿一覧", lifehacks_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-users mt-3"></i>
              <%= link_to "ユーザー一覧", users_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-regular fa-handshake mt-3"></i>
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link", style: "color: #495057" %>
            </li>
            <li class="nav-item d-flex">
              <i class="fa-solid fa-right-to-bracket mt-3"></i>
              <%= link_to "ログイン", new_user_session_path, class: "nav-link", style: "color: #495057" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <% unless user_signed_in? || admin_signed_in? %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "guest_btn btn" %>
      <% end %>
    </div>
  </nav>
  <div class="row d-flex justify-content-between py-2 mx-auto">
    <div class="col-sm-8">
      <%= render 'public/searches/form' %><!--キーワード検索機能-->
    </div>
    <div class="col-sm-4">
      <%= render 'public/tagsearches/form' %><!--タグ検索機能-->
    </div>
  </div>
</header>