<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %><!--サイトのタグのアイコン設定-->
    <title>SmailLifehack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/><!--スライドショー-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/><!--スライドショー-->
    <script src="https://kit.fontawesome.com/cdce8a28a2.js" crossorigin="anonymous"></script>
    <%# ↓ここから %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@500&display=swap" rel="stylesheet">
    <%# ↑ここまでGoogle Font導入 %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100" style="color: #495057; background-color: #FFFFFF; font-family: 'M PLUS 2', sans-serif;">
    <%# ↑の行のfont-familyでフォント名を指定 %>
    <%= render 'layouts/header' %>
    <main>
      <div class="row d-flex justify-content-between py-2 mx-auto" style="background-color: #F5F6CE;">
        <div class="col-sm-8">
          <%= render 'public/searches/form' %><!--キーワード検索機能-->
        </div>
        <div class="col-sm-4">
          <%= render 'public/tagsearches/form' %><!--タグ検索機能-->
        </div>
      </div>
      <div class="container flex-shrink-0">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
      $(function(){
      //スライドショー
        $('.slider').slick({
        //スライドの矢印を非表示にする
        arrows: false,
        //ドットを表示させる
        dots: true,
        //スライドショーの自動再生(カーソルが画像の上に乗るとスライドショーが止まる)
        autoplay: true,
        //自動再生のスピード(1000→1秒、3000→3秒)
        autoplaySpeed: 3000,
        });
      });
    </script>
  </body>
</html>