<!DOCTYPE html>
<html>
  <head>
    <title>SmailLifehack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cdce8a28a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>　</div>
      <%= link_to "topページ", root_path %>
        <% if user_signed_in? %>
          <%= link_to "新規投稿", new_lifehack_path %>
          <%= link_to "マイページ", users_path %>
          <%= link_to "投稿一覧", lifehacks_path %>
          <%= link_to "ユーザー一覧",users_index_path %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% elsif admin_signed_in? %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <% else %>
          <%= link_to "About", about_path %>
          <%= link_to "投稿一覧", lifehacks_path %>
          <%= link_to "ユーザー一覧",users_index_path %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </header>
    <main>
      <div class="d-flex justify-content-center mb-2"><!--検索機能-->
        <%= render 'public/searches/form' %><!--検索機能-->
      </div><!--検索機能-->
      <%= yield %>
    </main>
  </body>
</html>
