<!DOCTYPE html>
<html>
  <head>
    <title>SmailLifehack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/cdce8a28a2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="d-flex justify-content-center py-2" style="background-color: #F3F781;" >
        <%= render 'public/searches/form' %><!--キーワード検索機能-->
        <%= render 'public/tagsearches/form' %><!--タグ検索機能-->
      </div>
      <div class="container flex-shrink-0">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>